pipeline/key_vault_pipeline.json
{
	"name": "key_vault_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/venkimelbourne_yahoo.com.au#ext#@venkimelbourneyahoocom.onmicrosoft.com/test_notebook_with_mountpoint",
					"baseParameters": {
						"Load_date": "2025/03/23",
						"Table_name": "employees"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[pipeline_log_usp]",
					"storedProcedureParameters": {
						"datafactoryname": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"load_date": {
							"value": {
								"value": "@convertFromUtc(utcNow(),'Australia Standard time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runerror": {
							"value": null,
							"type": "String"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"runoutput": {
							"value": {
								"value": "@activity('Notebook1').output.runOutput",
								"type": "Expression"
							},
							"type": "String"
						},
						"runpageurl": {
							"value": {
								"value": "@activity('Notebook1').output.runPageUrl",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "Succeeded",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLdatabase_Keerthi",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[pipeline_log_usp]",
					"storedProcedureParameters": {
						"datafactoryname": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"load_date": {
							"value": {
								"value": "@convertFromUtc(utcNow(),'Australia Standard time' )",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runerror": {
							"value": "",
							"type": "String"
						},
						"runid": {
							"value": "",
							"type": "String"
						},
						"runoutput": {
							"value": "",
							"type": "String"
						},
						"runpageurl": {
							"value": "",
							"type": "String"
						},
						"status": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLdatabase_Keerthi",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}